*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background:  linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: aliceblue;
}
.container{
    width: 90%;
    margin: 12%;
    max-width: 720px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    border: none;
    
}
.container h1{
    font-size: 2rem;
    font-weight: 400;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 2rem;
}
.container button{
    padding: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    color: aliceblue;
    background: #044512;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.container button:hover{
    background: #910303;
}